{
    "class": "StaticPressureReset",
    "control": ["hva_floor2_dpSet_u"],
    "activate": ["hva_floor2_dpSet_activate"],
    "name": "STC_RESET",
    "trim": -10.0,
    "respond": 15.0,
    "max_respond": 37,
    "min_sp": 50,
    "max_sp": 410.0,
    "default_sp": [400.0],
    "request1": 0.8,
    "request2": 0.6,
    "dmpr_request_thr": 0.85,
    "ignored_requests": 1,
    "occupancy_name":"hva_floor2_reaAhu_occ_y",  
    "east": {
        "airflow": "hva_floor2_reaZonEas_V_flow_y",
        "airflow_setpoint": "hva_floor2_reaZonEas_V_flow_set_y",
        "damper_command": "hva_floor2_reaZonEas_yDam_y"
    },
    "west": {
        "airflow": "hva_floor2_reaZonWes_V_flow_y",
        "airflow_setpoint": "hva_floor2_reaZonWes_V_flow_set_y",
        "damper_command": "hva_floor2_reaZonWes_yDam_y"
    },
    "south": {
        "airflow": "hva_floor2_reaZonSou_V_flow_y",
        "airflow_setpoint": "hva_floor2_reaZonSou_V_flow_set_y",
        "damper_command": "hva_floor2_reaZonSou_yDam_y"
    },
    "north": {
        "airflow": "hva_floor2_reaZonNor_V_flow_y",
        "airflow_setpoint": "hva_floor2_reaZonNor_V_flow_set_y",
        "damper_command": "hva_floor2_reaZonNor_yDam_y"
    },
    "core": {
        "airflow": "hva_floor2_reaZonCor_V_flow_y",
        "airflow_setpoint": "hva_floor2_reaZonCor_V_flow_set_y",
        "damper_command": "hva_floor2_reaZonCor_yDam_y"
    }
}