{
    "class": "HwReset",
    "control": ["hva_oveHotWatSys_TW_set_u"],
    "activate":["hva_oveHotWatSys_TW_set_activate"],
    "name": "HW_RESET",
    "trim": -1.11,
    "respond": 1.67,
    "max_respond": 3.89,
    "min_sp": 305.15,
    "max_sp": 363.15,
    "default_sp": [353.15],
    "request1": 8.0,
    "request2": 17.0,
    "htg_request_thr": 0.95,
    "occupancy_name":"hva_floor1_reaAhu_occ_y",
    "floor1_south": {
        "heating_signal": "hva_floor1_reaZonSou_yReheaVal_y"
    },
    "floor1_north": {
        "heating_signal": "hva_floor1_reaZonNor_yReheaVal_y"
    },
    "floor1_west": {
        "heating_signal": "hva_floor1_reaZonWes_yReheaVal_y"
    },
    "floor1_core": {
        "heating_signal": "hva_floor1_reaZonCor_yReheaVal_y"
    },
    "floor1_east": {
        "heating_signal": "hva_floor1_reaZonEas_yReheaVal_y"
    },
    "floor2_south": {
        "heating_signal": "hva_floor2_reaZonSou_yReheaVal_y"
    },
    "floor2_north": {
        "heating_signal": "hva_floor2_reaZonNor_yReheaVal_y"
    },
    "floor2_west": {
        "heating_signal": "hva_floor2_reaZonWes_yReheaVal_y"
    },
    "floor2_core": {
        "heating_signal": "hva_floor2_reaZonCor_yReheaVal_y"
    },
    "floor2_east": {
        "heating_signal": "hva_floor2_reaZonEas_yReheaVal_y"
    },
    "floor3_south": {
        "heating_signal": "hva_floor3_reaZonSou_yReheaVal_y"
    },
    "floor3_north": {
        "heating_signal": "hva_floor3_reaZonNor_yReheaVal_y"
    },
    "floor3_west": {
        "heating_signal": "hva_floor3_reaZonWes_yReheaVal_y"
    },
    "floor3_core": {
        "heating_signal": "hva_floor3_reaZonCor_yReheaVal_y"
    },
    "floor3_east": {
        "heating_signal": "hva_floor3_reaZonEas_yReheaVal_y"
    }
}