{
    "class": "ChwReset",
    "control": ["hva_oveChiWatSys_TW_set_u", "hva_oveChiWatSys_dp_set_u"],
    "activate":["hva_oveChiWatSys_TW_set_activate","hva_oveChiWatSys_dp_set_activate"],
    "name": "CHW_RESET",
    "trim": -2.0,
    "respond": 3.0,
    "max_respond": 7,
    "min_sp": [278.15, 50000],
    "max_sp": [285.15, 478250],
    "default_sp": [278.15, 239125],
    "request1": 2.0,
    "request2": 3.0,
    "clg_request_thr": 0.95,
    "htg_request_thr": 0.95,
    "ignored_requests": 0,
    "occupancy_name":"hva_floor1_reaAhu_occ_y",
    "floor1": {
        "cooling_signal": "hva_floor1_reaAhu_yCooVal_y",
        "supply_temperature_setpoint": "hva_floor1_reaAhu_TSup_set_y",
        "supply_temperature": "hva_floor1_reaAhu_TSup_y"
    },
    "floor2": {
        "cooling_signal": "hva_floor2_reaAhu_yCooVal_y",
        "supply_temperature_setpoint": "hva_floor2_reaAhu_TSup_set_y",
        "supply_temperature": "hva_floor2_reaAhu_TSup_y"
    },
    "floor3": {
        "cooling_signal": "hva_floor3_reaAhu_yCooVal_y",
        "supply_temperature_setpoint": "hva_floor3_reaAhu_TSup_set_y",
        "supply_temperature": "hva_floor3_reaAhu_TSup_y"
    }
}